@model TE_CodeFirst.Models.Trainee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trainee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraineeName" class="control-label"></label>
                <input asp-for="TraineeName" class="form-control" />
                <span asp-validation-for="TraineeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeAge" class="control-label"></label>
                <input asp-for="TraineeAge" class="form-control" />
                <span asp-validation-for="TraineeAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeDOJ" class="control-label"></label>
                <input asp-for="TraineeDOJ" class="form-control" />
                <span asp-validation-for="TraineeDOJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeDOB" class="control-label"></label>
                <input asp-for="TraineeDOB" class="form-control" />
                <span asp-validation-for="TraineeDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeMobile" class="control-label"></label>
                <input asp-for="TraineeMobile" class="form-control" />
                <span asp-validation-for="TraineeMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeEmail" class="control-label"></label>
                <input asp-for="TraineeEmail" class="form-control" />
                <span asp-validation-for="TraineeEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineePassword" class="control-label"></label>
                <input asp-for="TraineePassword" class="form-control" />
                <span asp-validation-for="TraineePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeConfirmPassword" class="control-label"></label>
                <input asp-for="TraineeConfirmPassword" class="form-control" />
                <span asp-validation-for="TraineeConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
